<footer class="bg-white rounded shadow p-5 mb-4 mt-4" >
    <div class="row">
        <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
            <p class="mb-0 text-center text-lg-start">
                Pameec Hotel System &copy; 2023
            </p>
              <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" class="btn  d-flex align-items-center justify-content-center btn-upgrade-pro" border="0" alt="Made with Django." title="Made with Django." /></a>
             
        </div>
    </div>
</footer>
